

body{
	background: rgb(244, 244, 247);
	color: white;
}

#jumbotron {
    background-image: url(../gambar/sekolah.jpg);
    background-size: cover;
    height: 540px;
    text-align: center;
    position: relative;
}
#judul {
color: black;



}
